<!DOCTYPE html>
<html lang="en">
<%-include('partials/head')%>
<body>
<%-include('partials/header')%>
    <img class="banner" width = "90vw" height = "" src="/images/banner.jpg" alt="IMAGEN CARRUSEL"> <br>
<main>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" id="closebtn">&times;</a>
        <a href="/">Inicio</a>
        <a href="/products">Libros</a>
        <a href="/products/ebooks">E-books</a>
        <a href="/products/offers">Ofertas</a>
        <a href="/users/login">Iniciar Sesión</a>
        <a href="/users/register">Registrarse</a>        
    </div>
    <div class=cuerpo>
        <ul type="none">
            <li>
                <h5 class="section">OFERTAS</h5>
            </li>          
            <div onclick="" class="eachBook">  
                <% products.forEach(element => { %>
                
                        <article class="book">
                            <div class="details">
                                <img src="/images/products/<%= element.image%>"class="bookImage" alt="" width="220" height="220">
                                <div class="productDetail">
                                    <a class="price"><%= element.price%></a>
                                 </div>                                
                                    <h4 class="booksName"><%= element.name%></h4><br>        <p class="heart">&hearts;<p>
                                    <h4 class="booksAuthor" name="author" id="author">Autor:  <%= element.author && element.author.name%></h4>
                            </div>
                        </article>    
                <% }) %><br>   
            </div>                  
                
            <li>
                <h5 class="section">LOS MAS BUSCADOS</h5>
            </li>

            <div class="eachBook">                     
                <% products.forEach(element => { %>
                    <article>
                            <div class="detail">
                                <img src="/images/products/<%= element.image%>"class="bookImage" alt="" width="220" height="220"> <br>
                                <div clas="productDetail">
                                    <a class="price"><%= element.price%></a>   
                                </div>                     
                                <h4 class="description"><%= element.name%></h4><br>    
                                <h4 class="description" name="author" id="author"><%= element.author && element.author.name%></h4>
                            </div>
                        </article>    
            
                <% }) %></a><br>   
            </div>          
        </ul>    
    </div> 
   
</main>
<script src="/js/indexScript.js"></script>
</body>
<%-include('partials/footer')%>
</html>