<!DOCTYPE html>
<html lang="en">
<%-include('partials/head')%>
<body>
<%-include('partials/header')%>
    <img class="banner" width = "90vw" height = "" src="/images/banner.jpg" alt="IMAGEN CARRUSEL"> <br>
<main>
    <ul type="none">
        <li>
            <h5 class="section">OFERTAS</h5>
        </li>
    </ul>                  
                                              
        <% products.forEach(element => { %>
            <section class="LibrosOfertas">
                <article class="libro">
                    <img src="/images/products/<%= element.image%>"class="portadaLibro" alt="" width="80px" height="120px">
                    <div class="Detalle">
                        <a class="nombre-libro"><%= element.name%></a><br>    
                        <a class="autor-libro" name="author" id="author"><%= element.author && element.author.name%></a>
                        <a class="price"><%= element.price%></a>
                    </div>
                </article>    
            </section>
        <% }) %></a><br>                   
           
 <!--           <article class="libro4">
                <img src="/images/Libro5.jpg" class="portadaLibro" alt="" width="80px" height="120px">
                <div class="Detalle">
                    <a class="nombre-libro">Memorias de un Psiquiatra</a><br>
                    <a class="autor-libro">Irvin D. Yalom</a><br>
                    <a class="price">$99.99</a>
                </div>        
            </article>
            <article class="libro5">
                <img src="/images/Libro6.jpg" class="portadaLibro" alt="" width="80px" height="120px">
                <div class="Detalle">
                    <a class="nombre-libro">Verdugo del amor</a><br>
                    <a class="autor-libro">Irvin D. Yalom</a><br>
                    <a class="price">$99.99</a>
                </div>        
            </article>-->
    
    <ul type="none">
        <li>
            <h5 class="section">LOS MAS BUSCADOS</h5>
        </li>
    </ul>
    <section class="LibrosOfertas">
                <article class="libroOferta">
                    <img src="/images/ID2_Spinoza.jpg" class="portadaLibro" alt="" width="80px" height="120px">
                        <div class="Detalle">
                            <a class="nombre-libro">Otro libro</a><br>
                            <a class="autor-libro">Autor</a><br>
                            <a class="price">$99.99</a>
                        </div>
                </article>
                <article class="libroOferta">
                    <img src="/images/ID1_Shopenhauer.jpg" class="portadaLibro" alt="" width="80px" height="120px">
                    <div class="Detalle">
                        <a class="nombre-libro">Otro libro diferente</a><br>
                        <a class="autor-libro">Autor</a><br>
                        <a class="price">$99.99</a>
                    </div>
                </article>
                <article class="libroOferta3">
                    <img src="/images/Libro4.jpg" class="portadaLibro" alt="" width="80px" height="120px">
                    <div class="Detalle">
                        <a class="nombre-libro">Un Libro mas</a><br>
                        <a class="autor-libro">Autor</a><br>
                        <a class="price">$99.99</a>
                    
                    </div>    
                </article>
                <article class="libroOferta4">
                    <img src="/images/Libro3.jpg" class="portadaLibro" alt="" width="80px" height="120px">
                    <div class="Detalle">
                        <a class="nombre-libro">Librillo</a><br>
                        <a class="autor-libro">Autor</a><br>
                        <a class="price">$99.99</a>
                    </div>
                </article>
<!--                <article class="libro">
                    <img src="/images/Libro6.jpg" class="portadaLibro" alt="" width="80px" height="120px">
                    <div class="Detalle">
                        <a class="nombre-libro">Librote</a><br>
                        <a class="autor-libro">Autor</a><br>
                        <a class="price">$99.99</a>
                    </div>
                </article>
                <article class="libro">
                    <img src="/images/Libro5.jpg" class="portadaLibro" alt="" width="80px" height="120px">
                    <div class="Detalle">
                        <a class="nombre-libro">Libring la vida loca</a><br>
                        <a class="autor-libro">Autor</a><br>
                        <a class="price">$99.99</a>
                    </div>
                </article> -->
    </section>
   
</main>
<%-include('partials/footer')%>
</body>
</html>