<!DOCTYPE html>
<html lang="en">
<%-include('../partials/head')%>
<body>
<%-include('../partials/header')%>
    <main>
        
        <div class="card-login">   
            <form action="" method="POST">  
                <div class="msg-login">
                    <h4>Bienvenido! Ingresá tu e-mail y contraseña de The Book Store</h4>
                </div>
                    <div class="container-login">
                        <label for="mail">E-mail</label>
                        <input type="email" name="email" id='email' placeholder="Ingrese su e-mail" >
                        <% if (locals && locals.error && locals.error.email) { %>
                            <p style="color:red"><%= locals.error.email.msg %> </p>
                        <% } %>
                        <label for="password">Contraseña</label>
                        <input type="password" name="password" placeholder="Ingrese contraseña" >
                        <% if (locals && locals.error && locals.error.password) { %>
                            <p style="color:red" ><%= locals.error.password.msg %> </p>
                        <% } %>
                        <div class="container-button">
                            <button type="submit">Ingresar</button>
                            <label>
                                <input type="checkbox" name="remember"> Recordar usuario
                            </label>
                        </div>
                        <div class="container-links-psw">
                            <ul type="none">
                                <li><a href="#">Olvidé mi contraseña</a></li>
                                <li><a href="/users/register">Crear cuenta</a></li>
                            </ul>
                        </div>
                    </div>                
            </form>
        </div>

    </main>
<%-include('../partials/footer')%>
<script src="/js/validations.js"></script>
</body>
</html>