<html>
    <%-include('../partials/head')%>
<body>
    <%-include('../partials/header')%>
   <main>
    <%-include('../partials/sidebar')%>
    <div class="card-login">   
        <form class="form-register" method="POST" action="/users/register" enctype="multipart/form-data">  
            <div class="container-register">
                <h4>Ingresa tus datos!</h4>
            </div>
                <div class="container-register">
                    <label for="mail">E-mail</label>
                    <input type="email" name="email" id='email' placeholder="Ingrese su e-mail" value="<%= locals.old && old.email ? old.email : '' %>">
                    <% if (locals && locals.error && locals.error.email) { %>
                        <p class="validation-error"><%= locals.error.email.msg %> </p>
                    <% } %>
                    <% if (locals && locals.errorRepeat) { %>
                        <p class="validation-error"><%= locals.errorRepeat %> </p>
                    <% } %>
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" id='password' placeholder="Ingrese contraseña">
                    <% if (locals && locals.error && locals.error.password) { %>
                        <p class="validation-error"><%= locals.error.password.msg %> </p>
                    <% } %>
                    <label for="avatar">Elige tu avatar</label><br>
                    <input class="input-register" type="file" name="avatar" id="avatar" accept=".jpg, .png" style="margin-bottom: 20px;"><br>
                    <% if (locals && locals.error && locals.error.avatar) { %>
                        <p class="validation-error"><%= locals.error.avatar.msg %> </p>
                    <% } %>
                    <label for="user_name">Nombre de usuario</label>
                    <input type="text" name="user_name" id="user_name" placeholder="Ingrese su nombre de usuario" value="<%= locals.old && old.user_name ? old.user_name : '' %>">
                    <% if (locals && locals.error && locals.error.user_name) { %>
                        <p class="validation-error"><%= locals.error.user_name.msg %> </p>
                    <% } %>
                    <label for="name">Nombre</label>
                    <input type="text" name="name" id="name" placeholder="Ingrese su nombre" value="<%= locals.old && old.name ? old.name : '' %>">
                    <% if (locals && locals.error && locals.error.name) { %>
                        <p class="validation-error"><%= locals.error.name.msg %> </p>
                    <% } %>
                    <label for="last_name">Apellido</label>
                    <input type="text" name="last_name" id="last_name" placeholder="Ingrese su apellido" value="<%= locals.old && old.last_name ? old.last_name : '' %>">
                    <% if (locals && locals.error && locals.error.last_name) { %>
                        <p class="validation-error"><%= locals.error.last_name.msg %> </p>
                    <% } %>
                    <label for="birth_date">Fecha nacimiento</label>
                    <input type="date" name="birth_date" id="birth_date" value="<%= locals.old && old.birth_date ? old.birth_date : '' %>">
                    <% if (locals && locals.error && locals.error.birth_date) { %>
                        <p class="validation-error"><%= locals.error.birth_date.msg %> </p>
                    <% } %>
                    <label for="phone_number">Telefono</label>
                    <input type="number" name="phone_number" id="phone_number" placeholder="Ingrese su telefono" value="<%= locals.old && old.phone_number ? old.phone_number: '' %>">
                    <% if (locals && locals.error && locals.error.phone_number) { %>
                        <p class="validation-error"><%= locals.error.phone_number.msg %> </p>
                    <% } %>
                    <div class="container-button">
                        <button class="btn btn-outline-primary" type="submit" id='button-submit'>Registrame</button>
                    </div>
                    <div class="container-links-psw">
                        <ul type="none">
                            <li>Ya estas registrado?<a href="/users/login">Login</a></li>
                        </ul>
                    </div>
                </div>                
        </form>
    </div>
    
    
   </main>   
   <script src="/js/registerValidations.js"></script>
   <script src="/js/sidebarScript.js"></script>
</body>

<!-----------------------------Footer------------------------------------------------>
<%-include('../partials/footer')%>

</html>


