<!DOCTYPE html>
<html lang="en">
<%-include('../partials/headProduct')%>
<body>
<%-include('../partials/header')%>
    <main class="main-detalle-producto">
        <% products.forEach(element => { %>
            
        <div class="producto-principal">
            <a href="/products/detail/<%= element.id%>" method="GET">
            <article class="producto">
                <div class="imagen-producto">
                    <img src="/images/<%= element.image%>" width="100px" height="140px">
                </div>
                <div class="datos-producto">
                    <h3><%= element.title%></h3>
                    <h4><%= element.author%></h4>
                    <h2>$ <%= element.price%></h2>
                </div> 
            </article>
            </a>
            <form action="/products/<%= element.id%>?_method=DELETE" method="POST">
                <% if (locals.loggedUser && locals.loggedUser.rol=='admin') { %>
                    <button style="background-color: red;color: white;">BORRAR PRODUCTO</button>
                <% } %> 
            </form>
        </div>
        <% }) %>
        <br>
        <br>
    </main>
<%-include('../partials/footer')%>
</body>
</html>