<!DOCTYPE html>
<html lang="en">
<%-include('../partials/headProduct')%>
<body>
<%-include('../partials/header')%>
    <main class="main-detalle-producto">
        <div class="producto-principal">
            <article class="producto">
                <div class="imagen-producto">
                    <img src="/images/products/<%= product.image%>">
                </div>
                <div class="datos-producto">
                    <h3><%= product.title%></h3>
                    <h4><%= product.author && product.author.name%></h4>
                    <h4><%= product.genre && product.genre.name%></h4>
                    <h2>$ <%= product.price%></h2>
                    <div class="compartir-carrito-favs tablet">
                        <button class="compartir"><i class="fas fa-share-alt"></i></button>
                        <button class="agregar-al-carrito">AGREGAR AL CARRITO</button>
                        <button class="agregar-a-favoritos"><i class="far fa-heart"></i></button>
                    </div>
                </div> 
            </article>    
        </div>
            <div class="compartir-carrito-favs">
                <button class="compartir"><i class="fas fa-share-alt"></i></button>
                <button class="agregar-al-carrito">AGREGAR AL CARRITO</button>
                <button class="agregar-a-favoritos"><i class="far fa-heart"></i></button>
            </div>
            <form action="/products/<%= product.id%>?_method=DELETE" method="POST">
            </form>
        <div class="beneficios">
            <div class="beneficio">
                <i class="fas fa-shipping-fast"></i>
                <p>ENVÍO SIN COSTO
                    <br>
                    A TODO EL PAÍS
                </p>
            </div>
            <div class="linea-vertical" style="height: 45px;"></div>
            <div class="beneficio">
                <i class="fas fa-store"></i>
                <p>RETIRO EN TIENDAS
                <br>
                    EN EL DÍA
                </p>
            </div>
            <div class="linea-vertical" style="height: 45px;"></div>
            <div class="beneficio">
                <i class="far fa-credit-card"></i>
                <p>HASTA 6 CUOTAS
                    <br>
                    SIN INTERÉS
                </p>
            </div>
        </div>
        <div class="sinopsis">
            <h4>SINÓPSIS</h4>
            <p><%= product.synopsis%></p>
        </div>
        <br>
        <br>
        <section class="propuestas-por-autor">
            <h4 class="titulo-mismo-autor">DEL MISMO AUTOR</h4>
                <div class="propuestas">
                    <article class="producto">
                        <div class="imagen-producto">
                            <img src="/images/Libro5.jpg" width="100px" height="140px">
                        </div>
                        <div class="datos-producto">
                            <h3>MEMORIAS DE UN PSIQUIATRA</h3>
                            <h4>Irvin D. Yalom</h4>
                            <h2>$ 1.500</h2>
                        </div> 
                    </article>
                    <article class="producto">
                        <div class="imagen-producto">
                            <img src="/images/Libro2.jpg" width="100px" height="140px">
                        </div>
                        <div class="datos-producto">
                            <h3>EL ENIGMA SPINOZA</h3>
                            <h4>Irvin D. Yalom</h4>
                            <h2>$ 1.100</h2>
                        </div> 
                    </article>
                    <article class="producto">
                        <div class="imagen-producto">
                            <img src="/images/Libro3.jpg" width="100px" height="140px">
                        </div>
                        <div class="datos-producto">
                            <h3>EL DÍA QUE NIETZSCHE LLORÓ</h3>
                            <h4>Irvin D. Yalom</h4>
                            <h2>$ 1.100</h2>
                        </div> 
                    </article>
                    <article class="producto">
                        <div class="imagen-producto">
                            <img src="/images/Libro2.jpg" width="100px" height="140px">
                        </div>
                        <div class="datos-producto">
                            <h3>EL ENIGMA SPINOZA</h3>
                            <h4>Irvin D. Yalom</h4>
                            <h2>$ 1.100</h2>
                        </div> 
                    </article>
                    <article class="producto">
                        <div class="imagen-producto">
                            <img src="/images/Libro5.jpg" width="100px" height="140px">
                        </div>
                        <div class="datos-producto">
                            <h3>MEMORIAS DE UN PSIQUIATRA</h3>
                            <h4>Irvin D. Yalom</h4>
                            <h2>$ 1.500</h2>
                        </div> 
                    </article>
                    <article class="producto">
                        <div class="imagen-producto">
                            <img src="/images/Libro2.jpg" width="100px" height="140px">
                        </div>
                        <div class="datos-producto">
                            <h3>EL ENIGMA SPINOZA</h3>
                            <h4>Irvin D. Yalom</h4>
                            <h2>$ 1.100</h2>
                        </div> 
                    </article>
                </div>
        </section>
    </main>
<%-include('../partials/footer')%>
</body>
</html>